body {
      font: 16px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }

h3
  .title {
    font-size: 50px;
  }

  a {
       color: #842400; /* changed to #BD5D38 in areas with bg-2 */
  }

  a:hover {
       color: #9b4220;
  }

  p {font-size: 16px;}
  .footer {font-size: 14px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #BD5D38; /* Orange */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .container-top { /* adds top padding to first section to allow for navbar */
      padding-top: 140px;
      padding-bottom: 70px;
      padding-left: 12.5%;
      padding-right: 12.5%;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
      padding-left: 12.5%;
      padding-right: 12.5%;
  }
  .container-input { /* shifts input box right */
      padding-bottom: 70px;
      padding-left: 22%;
  }
  .navbar {
      position: fixed;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      background-color: #ffffff;
      z-index:99; /* Sets to opaque */
  }
  .navbar-nav  li a:hover {
      color: #BD5D38 !important;
  }

/* form-control copied and modified from http://bootswatch.com/spacelab/bootstrap.css */
.form-control {
  display: block;
  padding: 3px 3px;
  font-size: 14px;
  color: #666666;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #BD5D38;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.has-error {
  display: block;
  padding: 3px 3px;
  font-size: 14px;
  color: #666666;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error:focus {
  border-color: #953b39;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 14px;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

code {
  font-size: 14px;
  color: #BD5D38;
}

/* table */
table {
  background-color: transparent;
}
th {
  text-align: left;
}
.table {
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

/* create two column ul - see http://stackoverflow.com/a/14745429 */
ul.functionlist{
 columns: 2;
 -webkit-columns: 2;
 -moz-columns: 2;
 font-family: Courier;
 list-style-position: inside; /* required or bullets won't show in two column format - see http://stackoverflow.com/a/10855658 */
 list-style-type: square;
}

/* styles for "examples" */
#showexample{
  color: #842400;
  cursor: pointer;
}

.example{
  border: 2px solid #BD5D38;
  box-shadow: 2px 2px 4px #8c4428;
  border-radius: 8px;
  padding: 10px;
}

/* close icon for example */
#close:after {
  content: '\2715';
  float: right;
  display: inline-block;
  color: #2f2f2f;
  cursor: pointer;
  line-height: 15px;
  width: 16px;
  vertical-align: middle;
  border: 1px solid #222222;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #888888;
}

/* class for social media buttons in social.inc. Note that the
   line-height is set so all the buttons align (otherwise the
   FB button is offset) - see http://stackoverflow.com/a/21919504/1862861 */ 
.social {
  margin: auto;
  line-height: 10px;
}

input { /* changes input boxes to fit theme */
    color: #2f2f2f;
    line-height: 23px;
}

